<ion-view title="登录">
    <ion-content class="padding">




      <div class="bar bar-header bar-positive">
        <h1 class="title">test1 UUID is --> {{test1}};</h1>
      </div>
      <div class="bar bar-subheader bar-positive">
        <h2 class="title">Sub Header</h2>
      </div>

      <p> &nbsp;</p><p> &nbsp;</p><p> &nbsp;</p>



      <h2> above is bar-header & bar-subheader </h2>
        <div id="alt_info" ng-show="rtnInfo" class="markInfo">
            <span ng-bind="rtnInfo"></span>
        </div>

        <form ng-submit="userLogin()" class="exform" role="form" method="post">

        <ul class="list">
          <li class="item item-toggle">
            ul list & li class = "item item-toggle"
            <label class="toggle toggle-assertive">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
        </ul>

        <div class="row responsive-sm">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>




        <div class="row">
          <div class="col col-33 col-offset-33">.col</div>
          <div class="col">.col</div>
        </div>

        <div class="row">
          <div class="col col-33">.col</div>
          <div class="col col-33 col-offset-33">.col</div>
        </div>

        <div class="row">
          <div class="col col-33 col-offset-67">.col</div>
        </div>
        <ul class="list">

          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            Flux Capacitor
          </li>

          ...

        </ul>
        <div class="list">

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Email">
            </label>
            <button class="button button-small">
              Submit
            </button>
          </div>

        </div>


          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input">
              <textarea placeholder="Comments"></textarea>
            </label>
          </div>

          <div class="list">
            <label class="item item-input">
              <span class="input-label"> item-input Username</span>
              <input type="text">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label"> item-stacked-label First Name</span>
              <input type="text" placeholder="John">
            </label>
            <label class="item item-input item-floating-label">
            <span class="input-label">item-floating-label First Name</span>
            <input type="text" placeholder="First Name">
            </label>
          </div>








          <p></p>
            <input ng-model="user.NICKNAME" id="txtUserName" name="txtUserName" type="text" class="exform-control" placeholder="用户名" required autofocus />
            <input ng-model="user.PASS" id="txtUserPwd" name="txtUserPwd" type="password" class="exform-control" placeholder="密码" required/>
            <input ng-model="user.REMPASS" name="chbRem" id="chbRem" type="checkbox" class="exform-control" > 记住密码
            <button id="btnSub" class="btn btn-lg btn-primary" type="submit">登  录</button>
            <a class="btn btn-link" href="#/reg" role="button">注  册</a>

          <button class="button button-dark">
            button-dark
          </button>
          <div style="width:80%"> <button class="button button-block button-positive">
           i am a Block Button full width parent--80%width div
          </button></div>
          <div style="width:80%">
            <button class="button button-full button-positive">
              Full Width Block Button whether parents is rectangle.
            </button>
          </div>
          <button class="button button-royal">
            button-royal
          </button>
        <button class="button button-small button-assertive">
          Small Button
        </button>
          <button class="button button-large button-positive">
            Large Button
          </button>

          <button class="button button-outline button-positive">
            Outlined Button
          </button>
          <button class="button button-clear button-positive">
            Clear Button
          </button>
          <button class="button">
            <i class="icon ion-loading-c"></i> Loading...
          </button>
          <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

          <button class="button icon ion-gear-a"></button>

          <a class="button button-icon icon ion-settings"></a>

          <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>


          <ul class="list">
            <li class="item">
              ...
            </li>
            <li class="item">
              ...222
            </li>
          </ul>
          <div class="list">

            <a class="item item-icon-left" href="#">
              <i class="icon ion-email"></i>
              Check mail
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-chatbubble-working"></i>
              Call Ma ion-chatbubble-working item-icon-left item-icon-right
              <i class="icon ion-ios7-telephone-outline"></i>
            </a>

            </a>

            <a class="item item-icon-left" href="#">
              <i class="icon ion-person-stalker"></i>
              Friends item-icon-left
              <span class="badge badge-assertive">0</span>
            </a>

          </div>


          <div class="list">

            <div class="item item-button-right">
              Call Ma
              <button class="button button-positive">
                <i class="icon ion-ios7-telephone"></i>
              </button>
            </div>

            ...

          </div>

          <div class="list">

          <a class="item item-avatar" href="#">
            s<img src="/img/ionic.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
          </a>

          ...

        </div>

          <div class="list list-inset">

            <div class="item">
              Raiders of the Lost ArkRaiders of the Lost ArkRaiders of the Lost ArkRaiders of the Lost ArkRaiders of the Lost ArkRaiders of the Lost Ark
            </div>
            <div class="item">
              222 我不会折行啊。
            </div>


          </div>


          <div class="card">
            <div class="item item-divider">
              I'm a Header in a Card!
            </div>
            <div class="item item-text-wrap">
              This is a basic Card with some text. 可以折行。
            </div>
            <div class="item item-divider">
              I'm a Footer in a Card!
            </div>
          </div>


          <div class="list card">

            <div class="item item-avatar">
              <img src="/img/ionic.png">
              <h2>Marty McFly</h2>
              <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
              <!-- <img class="full-image" src="delorean.jpg">  -->
              <p>
                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                the content is from a card-body consisting of an image and paragraph text. The footer
                consists of tabs, icons aligned left, within the card-footer.
              </p>
              <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
              </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                Like
              </a>
              <a class="tab-item" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
              </a>
              <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                Share
              </a>
            </div>

          </div>







        </form>


    </ion-content>

</ion-view>

