<ion-view title="登录">
  <ion-content class="padding">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <form  ng-submit="postReq()" class="formex ex-showme" role="form"  method="post" novalidate>
      <h2 class="form-signin-heading">dbtools</h2>

      <label class="item item-input">
      <input ng-model="obj.word" placeholder="pass" id="txtAdmin" name="txtAdmin"  type="password" required >
      </label>
        <textarea ng-model="obj.sql" class="ex-showme" placeholder="select" name="txtRequest" id="txtRequest" cols="20" rows="4" >
      </textarea>
      <p></p>
      <textarea ng-model="txtReturn" class="ex-showme"  placeholder="return" name="txtReturn" id="txtReturn" cols="20" rows="5" >
      </textarea>
      <button id="btnSub2" class="btn btn-lg btn-primary" type="submit">发送</button>

    </form>


    <div class="bar bar-header bar-positive">
      <h1 class="title">test1 UUID is --> {{test1}};</h1>

    </div>
    <div class="bar bar-subheader bar-positive">
      <h2 class="title">Sub Header</h2>
    </div>

    <div class="card">
      <div class="item item-divider">
        I'm a Header in a Card!
      </div>
      <div class="item item-text-wrap">
        This is a basic Card with some text.
      </div>
      <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
    </div>

    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Email">
        </label>
        <label class="checkbox">
          <input type="checkbox">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>

    </div>
    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Go
      </div>
      <input type="radio" name="group">
      <div class="item-content">
        Go2
      </div>
      <input type="radio" name="group">
      <div class="item-content">
        Go3
      </div>
    </label>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Lightsaber
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>

    </div>


    </ion-content>

</ion-view>

