<ion-tabs class="tabs-icon-top">
  <ion-tab title="taskList" icon="icon ion-android-storage" href="#/tab/taskList">
    <ion-nav-view name="tab-taskList"></ion-nav-view>
  </ion-tab>

  <ion-tab title="detail" icon="icon ion-ios7-albums" href="#/tab/detail/taskId=234">
    <ion-nav-view name="tab-detail"></ion-nav-view>
  </ion-tab>

  <ion-tab title="注册" icon="icon ion-gear-b" href="#/tab/reg">
    <ion-nav-view name="tab-regist"></ion-nav-view>
  </ion-tab>

  <!-- login Tab -->
  <ion-tab title="登录" icon="icon ion-home" href="#/tab/login">
      <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <!-- test Tab -->
  <ion-tab title="测试各种效果" icon="icon ion-alert" href="#/tab/test">
    <ion-nav-view name="tab-test"></ion-nav-view>
  </ion-tab>

</ion-tabs>
