<div id="alt_info" ng-show="rtnInfo" class="ex-markinfo">
    <span ng-bind="rtnInfo"></span>
</div>

<div class="item item-input-inset">
  <button class="button">  查 找 </button> &nbsp;
  <li class="item item-checkbox">
    <label class="checkbox">
      <input type="checkbox" ng-model="ser.seek.showMe">
    </label> 显示
  </li>
</div>

<div class="item item-input-inset " ng-show="ser.seek.showMe">
  <label class="checkbox">
    <input type="checkbox" ng-model="ser.seek.seekStatePlan">
  </label> 计划
  <label class="checkbox">
    <input type="checkbox" ng-model="ser.seek.seekStateDeal">
  </label> 进行
  <label class="checkbox">
    <input type="checkbox" ng-model="ser.seek.seekStateFinish">
  </label> 完成
</div>
<div class="item item-input-inset" ng-show="ser.seek.showMe" >内容 &nbsp;
  <label class="item-input-wrapper padding-left">
    <input ng-model="ser.seek.seekContent" id="txtSeekContent" name="txtSeekContent" type="text" />
  </label>
</div>

<div class="list">
  <li class="item item-divider">
    <div class="item-input-inset padding-vertical">
      <span style="width:10%;" >   序号  </span>
      <span style="width:90%;" class="padding-horizontal"> 内容 </span>
    </div>
    <div class="item-input-inset padding-vertical">
      <span style="width:250px;" >   计划开始  </span>
      <span style="width:250px;" class="padding-horizontal"> 计划结束 </span>
    </div>
  </li>
  <div class="item">

  </div>

  <a class="item" href="#">
    Butterfinger
  </a>

  ...

</div>

