<div id="alt_info" ng-show="rtnInfo" class="ex-markinfo">
    <span ng-bind="rtnInfo"></span>
</div>

<div class="item item-input-inset">
  <button class="button">  查 找 </button> &nbsp;
  <li class="item item-checkbox">
    <label class="checkbox">
      <input type="checkbox" ng-model="ser.seek.showMe">
    </label> 显示条件
  </li>
</div>

<div class="item item-input-inset " ng-show="ser.seek.showMe">
  <label class="checkbox">
    <input type="checkbox" ng-model="ser.seek.seekStatePlan">
  </label> 计划
  <label class="checkbox">
    <input type="checkbox" ng-model="ser.seek.seekStateDeal">
  </label> 进行
  <label class="checkbox">
    <input type="checkbox" ng-model="ser.seek.seekStateFinish">
  </label> 完成
</div>
<div class="item item-input-inset" ng-show="ser.seek.showMe" >内容 &nbsp;
  <label class="item-input-wrapper padding-left">
    <input ng-model="ser.seek.seekContent" id="txtSeekContent" name="txtSeekContent" type="text" />
  </label>
</div>


